@media only screen and (max-width: 1400px) {
    .search-field form input {
        width: auto;
    }
    .search-field form .input.search img {
        max-width: 20px;
        top: 10px;
    }
    .row {
        justify-content: space-between;
    }
}

@media only screen and (max-width: 1024px) {
    .search-field form input {
        font-size: 14px;
    }
    header .sell-btn a {
        font-size: 15px;
    }
    .search-field form .input.search img {
        max-width: 15px;
    }
    .product-listing .filter {
        width: 25%;
    }
    .listings {
        width: 74%;
    }
    .filter .box ul li a {
        font-size: 16px;
    }
    .filter .box ul li a img {
        width: 22px;
        height: 18px;
    }
    .sort-filter {
        margin-left: 26%;
    }
    .details .left {
        width: 64%;
    }
    .form-product .edit-photo {
        max-width: 70%;
    }
    .form-product .edit-photo {
        max-width: 100%;
    }
    .form-product .edit-photo ul li img {
        max-width: 100%;
        max-height: 100%;
    }
    .chat-screen .chat-list {
        width: 20%;
    }
    .chat-screen .chat {
        width: 80%;
    }
    .chat-screen .chat-list {
        width: 20%;
    }
    .chat-screen .chat {
        width: 80%;
    }
    .chat-screen .chat .top .left .product h4 {
        font-size: 12px;
    }
    .chat-screen .chat .top .left {
        width: 78%;
    }
    .chat .right {
        width: 60px;
        padding: 0;
        padding-left: 10px;
    }
    .messages .msg .inner h4 {
        font-size: 15px;
    }
    .chat-screen .chat .batch h5 {
        font-size: 14px;
    }
    .chat .type-msg .right {
        flex: auto;
        justify-content: flex-end;
    }
}

@media only screen and (max-width: 768px) {
    .sort-filter form select,
    .sort-filter form input {
        font-size: 14px;
    }
    body.search .sort-filter,
    body.search .search-product {
        margin-left: 0;
    }
    h3 {
        font-size: 15px;
    }
    .listings .grid .desc h4.price {
        font-size: 18px;
    }
    .listings .grid .desc p {
        font-size: 14px;
    }
    .search-field {
        padding-left: 10px;
        padding-right: 10px;
    }
    .search-field form .input.search input {
        width: 70px;
    }
    .search-field form input {
        font-size: 12px;
        padding-left: 25px;
        padding-right: 10px;
    }
    header .input img {
        width: 15px;
        left: 5px;
        top: 10px;
    }
    header .sell-btn a {
        font-size: 13px;
        padding: 10px 15px;
    }
    header .right .profile {
        margin: 0;
    }
    .right .msg {
        margin-right: 5px;
    }
    .right .msg {}
    .banner .row .text h1 {
        font-size: 34px;
    }
    p {
        font-size: 20px;
    }
    .playstore a.g-play img {}
    .playstore img {
        max-width: 140px;
    }
    .filter .box {
        padding: 10px;
    }
    .filter .box ul li a {
        font-size: 14px;
    }
    .filter .box ul li a img {
        width: 19px;
    }
    .filter .box {
        padding: 10px;
    }
    .filter .box ul li a {
        font-size: 14px;
    }
    .filter .box ul li a img {
        width: 19px;
    }
    footer .right-band ul li a {
        font-size: 13px;
    }
    footer .right-band ul li a img {
        width: 14px;
        height: 13px;
    }
    footer .middle-band ul.nav li a {
        font-size: 14px;
    }
    .details .left .carousel .owl-carousel,
    .details .left .carousel .owl-carousel img {
        height: 280px;
    }
    .form-product .edit-photo ul li {
        width: 22%;
        height: 150px;
    }
    .form-product .edit-photo ul li.selected {
        padding: 0;
    }
    .form-product .container {
        border: none;
    }
}

@media only screen and (max-width: 982px) {
    .product-listing .filter {
        width: 100%;
    }
    .listings {
        width: 100%;
        padding: 0;
    }
    header {
        text-align: center;
    }
    .sort-filter form h4 {
        font-size: 13px;
        margin: 0 5px;
    }
    .sort-filter form select,
    .sort-filter form input {
        width: 100%;
        padding: 10px;
        font-size: 12px;
    }
    .sort-filter .left {
        margin-bottom: 10px;
    }
    .search-field form {
        display: block;
    }
    header .input input {
        width: 100%;
        border-radius: 4px;
    }
    header .input.search input {
        width: 100%;
    }
    .search-field form .input.search input {
        width: 100%;
        border-radius: 4px;
    }
    header .input {
        margin-bottom: 8px;
    }
    .logo {
        margin-bottom: 10px;
    }
    .search-field {
        padding-top: 20px;
        order: 3;
        width: 100%;
        padding-left: 0;
        padding-right: 0;
    }
    .search-field form .input.search img {
        left: 47%;
    }
    .filter .box {
        padding: 20px;
    }
    footer .logo {
        width: 100%;
    }
    footer .top {
        flex-direction: column;
        text-align: center;
    }
    footer .right-band ul li a {
        font-size: 0;
        padding: 10px;
    }
    footer .right-band ul li a img {
        margin: 0;
        width: 16px;
        height: 15px;
    }
    footer .bottom-band p {
        font-size: 12px;
    }
    footer .middle-band ul.nav li {
        margin: 0 5px 5px;
    }
    footer .middle-band ul.nav li a {
        font-size: 12px;
    }
    .banner .row .text p br {
        display: none;
    }
    .product-listing .filter .box.no-pad {
        display: none;
    }
    .popup {
        width: 95%;
        max-width: 350px;
    }
    .details .left {
        width: 100%;
        margin: 0;
        margin-bottom: 30px;
    }
    .details .right {
        width: 100%;
        display: block;
    }
    .pagination ul li a {
        font-size: 10px;
    }
    .pagination ul li {
        padding-right: 14px;
    }
    .pagination ul li:before {
        top: 3px;
    }
    .details .desc p {
        font-size: 14px;
    }
    .details .desc h5 {
        font-size: 17px;
    }
    .details .right .box .price {
        font-size: 26px;
    }
    .details .right .box p {
        font-size: 12px;
    }
    .details .listings .grid .desc h3 {
        font-size: 13px;
    }
    .details .listings .grid .desc p {
        font-size: 10px;
    }
    .details .location p {
        font-size: 13px;
    }
    .details .location .marker img {
        width: 20px;
    }
    .details .left .carousel {
        width: 100%;
    }
    .details .left .thumb-image {
        width: 100%;
    }
    .details .left .thumb-image img {
        width: 20%;
        display: inline-block;
    }
    .form-product .edit-photo ul li {
        height: 90px;
        margin-right: 10px;
        padding: 20px;
        width: 30%;
    }
    .form-product .edit-photo ul li.selected {
        padding: 0;
    }
    .form-product .edit-photo {
        max-width: 100%;
    }
    .form-product .input {
        width: 100%;
    }
    .form-product .container {
        padding: 30px 30px;
    }
    .chat-screen .chat-list {
        width: 100%;
    }
    .chat-screen .chat {
        width: 100%;
    }
    .chat-screen .chat .top .left .product {
        display: none;
    }
    .chat-screen .chat .top .left {
        width: 50%;
        max-width: none;
        flex: auto;
    }
    .chat .right {
        width: 100px;
    }
    .chat-inner .download-app .btm .app {
        width: 100%;
    }
    .chat-inner .download-app .btm img {
        max-width: 100px;
        margin-bottom: 5px;
    }
    .chat-inner .download-app .btm .app .desc .stars ul li i {
        font-size: 12px;
        margin-right: 0px;
    }
}

@media only screen and (min-width: 1230px) {
    .search-field form .input:first-child input {
        min-width: 400px;
    }
    #queryForm>div:nth-child(1) {
        min-width: 400px;
    }
}

@media only screen and (min-width: 1200px) {
    .container-xl {
        max-width: 1350px;
    }
}