@font-face {
    font-family: avenir-regular;
    src: url(../fonts/AvenirNextLTPro-Regular.otf);
}

@font-face {
    font-family: avenir-bold;
    src: url(../fonts/AvenirNextLTPro-Bold.otf);
}

@font-face {
    font-family: avenir-demibold;
    src: url(../fonts/AvenirNext-DemiBold.ttf);
}

* {
    box-sizing: border-box;
}

body {
    font-family: avenir-regular;
    margin: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    text-decoration: none;
}

ul {
    padding: 0;
}

ul li {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 100%;
    padding: 0 20px;
}

.container.small {
    padding: 0 40px;
}

h1,
h2,
h3,
h4,
h5,
p {
    margin-top: 0;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
}

header {
    padding: 20px 0;
    background: #fff;
}

header .logo h5 {
    font-size: 26px;
    color: #2a80c7;
    margin: 0px;
    padding-top: 9px;
}

.search-field form {
    display: flex;
}

.search-field {
    padding-left: 25px;
    flex: 0 0 80%;
}

.search-field form img {
    max-width: 100%;
}

.search-field form input {
    padding: 10px 20px;
    border-radius: 0;
    border: 1px solid #ddd;
    font-size: 16px;
    width: 380px;
    background: #f5f5f5;
}

.search-field form .input.search {
    position: relative;
}

.search-field form .input.search img {
    position: absolute;
    max-width: 30px;
}

.search-field form .input.search {
    position: relative;
    cursor: pointer;
}

.search-field form .input.search img {
    position: absolute;
    max-width: 25px;
    top: 6px;
    left: 40%;
    filter: invert(0);
}

.banner {
    background: #1d7fc7;
    padding: 30px 0 30px;
    background-repeat: no-repeat;
}

.banner .row {
    align-items: center;
    justify-content: center;
    text-align: center;
}

.banner .row .text h1,
.banner .row .text p {
    color: #fff;
}

.banner .row .text h1 {
    font-size: 40px;
    margin-bottom: 20px;
}

p {
    font-size: 24px;
    margin-top: 0;
    line-height: 1.4;
}


/* .banner .text {
    padding-right: 120px;
} */

.playstore img {
    max-width: 190px;
    transition: .2s;
}

.product-listing {
    background: #f3f2f2;
    padding: 20px 0;
}

.product-listing .filter {
    width: 20%;
    display: inline-block;
    vertical-align: top;
}

.listings {
    width: 79%;
    display: inline-block;
    padding-left: 10px;
}

.filter .list-grid a {
    display: inline-block;
    width: 30%;
    margin-right: 3%;
    margin-bottom: 10px;
    border-radius: 6px;
    min-height: 70px;
    background-size: cover;
}

.filter .list-grid a:nth-child(3n+3) {
    margin-right: 0;
}

.product-listing .filter h4 {
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.filter .box {
    background: #fff;
    padding: 15px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.filter .grid a {
    display: inline-block;
    max-width: 30.5%;
    margin-right: 2.5%;
}

.filter .grid a img {
    border-radius: 6px;
}

.filter .grid a:nth-child(3n+3) {
    margin-right: 0;
}

.product-listing .filter h4 {
    font-size: 16px;
    text-transform: uppercase;
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
}

.filter .box {
    background: #fff;
    padding: 15px 15px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.filter .box ul li {
    margin-bottom: 10px;
}

.filter .box ul li a {
    font-size: 17px;
    opacity: 0.6;
    display: inline-block;
}

.filter .box ul {
    margin-bottom: 40px;
}

.listings .grid .desc {
    padding: 10px 10px 0;
    text-align: center;
}

.listings .grid .item .dist-tag {
    position: absolute;
    top: 20px;
    right: -30px;
    background: #0087ff;
    width: 120px;
    text-align: center;
    font-size: 18px;
    color: #fff;
    transform: rotate(45deg);
    padding-top: 2px;
}

.listings .grid .desc h4.price {
    font-size: 20px;
    color: #1470d6;
    margin-bottom: 4px;
    font-family: avenir-regular;
}

.listings .grid {
    position: relative;
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 20px;
}

.listings .grid .desc p {
    font-size: 16px;
    margin-bottom: 0;
    color: #a29f9f;
    padding-bottom: 6px;
}

.listings .item {
    position: relative;
    overflow: hidden;
    border-radius: 6px;
    background: #fff;
    transition: .4s;
}

.listings .grid .desc h3 {
    margin-bottom: 4px;
    font-size: 18px;
}

.filter .box.no-pad {
    padding: 0;
    border-radius: 4px;
}

.filter .box.no-pad .price {
    font-size: 20px;
    color: #1470d6;
    margin-bottom: 4px;
    font-family: avenir-regular;
    padding-bottom: 0;
    border: none;
}

.filter .box.no-pad .desc {
    text-align: center;
    padding: 10px;
}

.filter .box.no-pad .desc h3 {
    margin-bottom: 4px;
}

.filter .box.no-pad .desc p {
    font-size: 16px;
    margin-bottom: 0;
    color: #a29f9f;
    padding-bottom: 6px;
}

footer .top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 1px solid #ddd;
}

footer {
    background: #fff;
}

footer .middle-band {
    padding: 0 20px;
}

footer .top .logo h3 {
    font-size: 30px;
    opacity: .3;
    margin-bottom: 0;
}

footer .right-band ul li {
    display: inline-block;
    margin-right: 10px;
}

footer .right-band ul li a {
    display: block;
    border: 2px solid #b1b1b1;
    padding: 6px 15px 4px;
    color: #b1b1b1;
    font-size: 18px;
    width: auto;
    border-radius: 30px;
    text-align: center;
    display: flex;
}

footer .right-band ul {
    margin: 0;
}

footer .middle-band ul.nav {
    text-align: center;
}

footer .middle-band ul.nav li {
    display: inline-block;
    margin: 0 10px;
}

footer .middle-band ul.nav li a {
    font-size: 18px;
    color: #b1b1b1;
}

footer .bottom-band {
    background: #f1f1f1;
    text-align: center;
    padding: 20px 20px 15px;
}

footer .bottom-band p {
    font-size: 15px;
    margin-bottom: 5px;
}

footer .bottom-band .copy p {
    color: #969696;
}

footer .bottom-band .copy p a {
    color: #2a80c7;
}

.see-more a {
    display: inline-block;
    background: #2a80c7;
    padding: 10px 20px;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 40px;
}

.see-more {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
}

.search-field form .input:first-child input {
    border-radius: 6px 0 0 6px;
}

.search-field form .input.search input {
    background: #2a80c7;
    width: 120px;
    border-radius: 0 6px 6px 0;
    border: none;
    padding: 11px 20px;
}

header .sell-btn a {
    display: block;
    background: #2678bb;
    color: #fff;
    font-size: 18px;
    padding: 12px 20px 10px;
    border-radius: 5px;
    margin-left: 40px;
}

.right {
    display: flex;
    flex-wrap: wrap;
}

.playstore img:hover {
    transform: scale(1.03);
}

.playstore a.g-play {
    display: inline-block;
    transform: translateY(-2.5px);
}

.playstore a.g-play img {}

.listings .grid .item:hover {
    box-shadow: 0px 4px 20px #ddd;
}

.listings .item:hover img {
    transform: scale(1.02);
}

.listings .item img {
    transition: .2s;
}

header .sell-btn a:hover {
    background: #2171b3;
}

.see-more a:hover {
    background: #1c67a5;
}

.filter .box ul li a img {
    width: 25px;
    height: 20px;
    object-fit: contain;
    margin-right: 5px;
}

footer .right-band ul li a:hover {
    background: #2a80c7;
    color: #fff;
    border-color: transparent;
}

footer .middle-band ul.nav li a:hover {
    color: #2a80c7;
}

.filter .box ul li a:hover {
    color: #2a80c7;
}

footer .middle-band ul {
    display: inline-block;
}

footer .middle-band ul li {
    display: inline-block;
}

footer .middle-band .inner {
    text-align: center;
    padding-top: 15px;
}

.filter .box.no-pad .desc h3 {
    font-size: 18px;
}

footer .middle-band ul.social li {
    margin: 0 10px;
}

footer .middle-band ul.social li a:hover {
    filter: invert(1)
}

footer .right-band ul li a img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    margin-right: 10px;
}

footer .right-band ul li a:hover img {
    filter: brightness(0) invert(1);
}

.search-field {
    flex: none;
    padding-right: 20px;
}

.right .msg {
    padding-top: 8px;
}

.right .msg .profile {
    margin-right: 20px;
}

header .right .msg img,
header .right .profile img {
    height: 35px;
    width: 35px;
}

header .right .profile img {
    border-radius: 100%;
}

header .right .profile {
    margin-right: 20px !important;
    padding-top: 5px;
    padding-left: 10px;
}

header .sell-btn a img {
    margin-left: 6px;
    display: inline-block;
    transform: translateY(2px);
    margin-top: -10px;
    height: 20px;
}

header .input img {
    position: absolute;
    top: 8px;
    left: 10px;
    height: 24px;
    width: 24px;
}

header .input {
    position: relative;
}

header .input input {
    padding-left: 45px;
}

.search-product {
    background: #fff;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 4px;
}

.search-product h4 {
    color: #2a80c7;
    font-size: 18px;
    margin-bottom: 0;
}

.search-product .name {
    display: flex;
    flex-wrap: wrap;
}

.search-product p {
    font-size: 17px;
    color: #868686;
    padding-left: 20px;
    margin-bottom: 0;
}

.search-product h4:hover {
    color: #165990;
}

.sort-filter form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.sort-filter form .input {
    display: inline-block;
}

.sort-filter form select,
.sort-filter form input {
    display: inline-block;
    color: gray;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    width: 150px;
}

.sort-filter form h4 {
    display: inline-block;
    color: gray;
    margin: 0 10px;
    font-size: 16px;
}

.sort-filter {
    margin-bottom: 20px;
    margin-left: 21%;
}

.sort-filter form input {
    width: 90px;
}

.sort-filter,
.search-product {
    display: none;
}

body.search .sort-filter,
body.search .search-product {
    display: block;
}

.login-popup {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 99999;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
}

.login-popup.visible {
    visibility: visible;
    opacity: 1;
}

body>div.login-popup.overflow-scoll>div.popup {
    max-height: 100%;
    overflow-y: auto;
}

.login-popup .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgb(0 0 0 / .3);
    z-index: -1;
}

.popup {
    background: #fff;
    width: 400px;
    padding: 30px 20px 20px;
    position: relative;
    border-radius: 5px;
}

.social-login a {
    background: #2196F3;
    display: block;
    text-align: center;
    border-radius: 6px;
    padding: 8px;
    margin-bottom: 10px;
}

.social-login a h4 {
    color: #fff;
    font-size: 18px;
    margin-bottom: 0;
}

.social-login a.fb-login {
    background: #3b5998;
}

.social-login a.apple-login {
    background: #000000;
}

.social-login a.apple-login:hover {
    background: #000000;
}

.social-login a {
    background: #2196F3;
    display: block;
    text-align: center;
    border-radius: 30px;
    padding: 11px 0 10px;
    margin-bottom: 10px;
}

.social-login a h4 {
    color: #fff;
    font-size: 16px;
    margin-bottom: 0;
}

.social-login a.fb-login {
    background: #3b5998;
}

.popup p {
    font-size: 15px;
}

.popup p.use-email {
    text-align: center;
    color: gray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.sign-in-up {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.sign-in-up a {}

.login-popup form .input input {
    width: 100%;
    padding: 5px 10px;
    background: #f3f3f3;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
}

.sign-in-up a.active {
    background: #3197f3;
    color: #fff;
}

.sign-in-up a {
    border: 1px solid #3197f3;
    color: #3197f3;
    padding: 3px 20px;
    font-size: 14px;
    transition: .2s;
}

.sign-in-up a.sign-up {
    border-radius: 4px 0 0 4px;
}

.sign-in-up a.sign-in {
    border-radius: 0 4px 4px 0;
}

.login-popup form .input input[type="submit"] {
    background: #2170b7;
    color: #fff;
    padding-top: 7px;
    cursor: pointer;
    font-size: 16px;
}

.social-login a img {
    height: 25px;
    margin-top: -3px;
    position: absolute;
    left: 27px;
}

.login-popup form .input.catcha input {
    width: auto;
    display: inline-block;
}

.login-popup form .input.captcha input {
    width: auto;
    margin-bottom: 0;
}

.login-popup form .input.captcha {
    background: #f3f3f3;
    margin-bottom: 10px;
    padding: 15px 20px;
    width: auto;
    display: inline-block;
    width: 230px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.login-popup form .input.captcha label {
    margin-bottom: 0;
    margin-left: 10px;
    font-size: 15px;
    color: #7d7575;
}

.login-popup form .input input[type="submit"]:hover {
    background: #154b7b;
}

.popup .terms p {
    font-size: 12px;
    text-align: center;
    color: #989494;
}

.popup .terms p a {
    color: #2270b7;
}

.signup-form,
.signin-form {
    display: none;
}

.signup-form.show {
    display: block;
}

.signin-form.show {
    display: block;
}

.login-popup .close {
    float: none;
    position: absolute;
    right: 0;
    top: 6px;
    font-size: 23px;
    opacity: 1;
    text-shadow: none;
    width: 25px;
    height: 23px;
    text-align: center;
    color: #000;
    line-height: 22px;
    opacity: .9;
}

.login-popup .close:hover {
    opacity: 1;
}

.social-login a.fb-login:hover {
    background: #334e86;
}

.social-login a:hover {
    background: #1e89de;
}

.details {
    background: #f3f3f3;
    padding: 30px 0 40px;
}

body.detail-page header {
    box-shadow: 4px 4px 10px #ddd;
}

.pagination ul li {
    display: inline-block;
    margin-right: 0px;
    padding-right: 20px;
    position: relative;
}

.pagination ul {
    margin-bottom: 0;
}

.pagination ul li:before {
    content: "";
    position: absolute;
    right: 0;
    background: url(../images/chev-right.png);
    width: 15px;
    height: 20px;
    top: 2px;
}

.pagination {
    padding: 10px 0 6px;
}

.pagination ul li.active {
    padding-right: 0;
}

.pagination ul li.active::before {
    opacity: 0;
}

.pagination ul li a {
    opacity: .6;
}

.pagination ul li.active a {
    color: #000;
    opacity: 1;
}

.details .right {
    flex-direction: column;
    width: 32%;
    border-radius: 4px;
    margin: 0px 7px;
}

.details .right .box {
    background: #fff;
    margin-bottom: 14px;
    padding: 20px;
    border-radius: 4px;
}

.details .left {
    background: #ffffff;
    padding: 20px;
    margin: 0px 7px;
    border-radius: 4px;
}

.details .desc {
    padding-top: 15px;
}

.details .desc h5 {
    font-size: 18px;
    text-transform: uppercase;
    color: #c3c3c3;
    margin-bottom: 0;
}

.details .desc p {
    font-size: 16px;
}

.details .location {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid #ddd;
    padding-top: 15px;
    align-items: center;
    padding-bottom: 10px;
}

.details .location p {
    font-size: 16px;
    margin-bottom: 0;
    margin-left: 5px;
}

.details .share {
    text-align: center;
    padding-top: 20px;
    border-top: 1px solid #ddd;
    margin-top: 20px;
}

.details .share ul li {
    display: inline-block;
}

.details .share ul li {
    margin: 0 5px;
}

.details .share h3 {
    font-size: 18px;
    color: #9a9a9a;
}

.details .right .listings {
    width: 100%;
    padding: 0;
    background: #f3f3f3;
    padding: 14px 10px;
    border-radius: 4px;
    max-height: 500px;
    overflow: auto;
}

.details .listings .grid {
    grid-template-columns: repeat(auto-fill, minmax(90px, 1fr));
    grid-gap: 10px;
    grid-auto-rows: 18px;
}

.details .listings .grid .desc h3 {
    font-size: 15px;
}

.ui-menu .ui-menu-item {
    height: 30px;
}

.details .listings .grid .desc p {
    font-size: 12px;
}

.details .right .box .price {
    text-align: center;
    font-size: 30px;
    color: #000000;
}

.details .right .box p {
    text-align: center;
    font-size: 14px;
}

.details .right .cta {
    color: #fff;
    text-align: center;
    font-size: 14px;
}

.details .right .box .profile {
    text-align: center;
    padding-bottom: 10px;
}

.details .right .box .profile img {
    margin-bottom: 5px;
}

.details .right .box .profile .name {
    font-size: 16px;
    padding-top: 5px;
}

.see-all {
    text-align: center;
    padding-top: 10px;
}

.see-all a {
    color: #2a80c7;
    border-bottom: 1px solid #2a80c7;
}

.details .right .cta a {
    background: #2778bb;
    display: block;
    padding: 6px;
    text-align: center;
    border-radius: 4px;
}

.details .right .cta a:hover {
    background: #1a629e;
    color: #fff;
}

.details .listings .item img {
    width: 100%;
    font-size: 15px;
}

.ui-widget {
    z-index: 9999;
    font-family: avenir-regular !important;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    background-color: #000;
    color: #fff;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

.owl-nav button.owl-prev {
    left: 0;
}

.owl-nav button.owl-next {
    right: 0;
}

.owl-dots {
    text-align: center;
    padding-top: 15px;
}

.owl-dots button.owl-dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    display: inline-block;
    background: #ccc;
    margin: 0 3px;
}

.owl-dots button.owl-dot.active {
    background-color: #000;
}

.owl-dots button.owl-dot:focus {
    outline: none;
}

.owl-nav button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(255, 255, 255, 0.38) !important;
}

span {
    font-size: 70px;
    position: relative;
    top: -5px;
}

.owl-nav button:focus {
    outline: none;
}

.details .left .thumb-image {
    width: 20%;
    display: inline-block;
    vertical-align: top;
    margin-left: 1%;
}

.details .left .thumb-image img {
    margin-bottom: 10px;
}

.details .left .carousel .owl-carousel,
.details .left .carousel .owl-carousel img {
    height: 350px;
    object-fit: cover;
}

.form-product .edit-photo ul li input[type="file"] {
    display: none;
}

.top-band {
    background: #2a80c7;
    text-align: center;
    padding: 10px 0 7px;
    box-shadow: 0 7px 10px #00000026;
}

.top-band h3 {
    font-size: 20px;
    color: #fff;
    margin: 0;
}

.form-product h4 {
    font-size: 22px;
    text-transform: uppercase;
    color: #888;
    margin-bottom: 20px;
}

.form-product .edit-photo ul li {
    width: calc(100%/5 - 20px);
    background: #fff;
    height: 130px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding: 40px;
}

.form-product .edit-photo {}

.form-product .edit-photo ul {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.form-product .edit-photo ul li label {
    font-size: 22px;
    cursor: pointer;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #888;
    background: #ececec;
    border-radius: 50%;
    width: 50px;
    height: 50px;
}

.form-product {
    padding-top: 30px;
    background: #efefef;
    padding-bottom: 50px;
}

.form-product .input label {
    display: block;
    text-transform: uppercase;
    margin-bottom: 0;
    color: #8c8c8c;
}

.form-product .input input {
    border: none;
    padding: 6px;
    width: 100%;
}

.form-product .input select {
    border: none;
    padding: 10px;
    width: 100%;
    color: #696969;
}

.form-product .input {
    width: calc(100% / 2 - 20px);
    margin-bottom: 20px;
    margin-right: 10px;
    display: inline-block;
}

.form-product .input textarea {
    width: 100%;
    border: none;
}

.form-product .input input[type="submit"] {
    background: #2a80c7;
    color: #fff;
    text-transform: uppercase;
    border-radius: 50px;
    width: 90%;
    margin: auto;
    display: block;
    outline: none;
    cursor: pointer;
}

.form-product .input input[type="submit"]:hover {
    background: #2d6594;
}

.form-product .edit-photo ul li img {
    max-width: 100%;
    max-height: 100%;
}

.form-product .edit-photo ul li.selected img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.form-product .input.textarea {
    width: calc(100% - 26px);
}

.form-product .input.location {
    width: 100%;
}

.form-product .input.submit {
    width: 40%;
    margin: auto;
    padding-top: 10px;
    display: block;
}

.form-product .input.specification {
    width: calc(100% - 26px);
}

.form-product .input.submit input {
    width: 100%;
}

.form-product .edit-photo ul li.selected {
    padding: 0;
}

.form-product .container {
    width: 800px;
    border: 1px solid #ddd;
    padding: 30px 40px;
    max-width: 100%;
    padding-right: 20px;
}

.form-product .edit-photo ul li.selected label {
    width: 100%;
    height: 100%;
}

.form-product .edit-photo ul li.add label {
    background: transparent;
}

.input.specification ul {
    background: #fff;
    border: none;
    padding: 0px 10px;
}

.input.specification ul li span {
    font-size: 17px;
}

ul.tagit li {
    padding: 0;
}

.form-product .input.specification li.tagit-choice {
    padding: 20px 20px 10px;
    padding-left: 10px;
    line-height: 0;
    background: #ddd;
}

.form-product .input.specification li.tagit-choice a.tagit-close {
    line-height: 26px;
}

.login-popup.language-popup .head {
    background: #2a80c7;
    text-align: center;
    padding: 10px;
    border-radius: 5px 5px 0 0;
}

.login-popup.language-popup .popup {
    padding: 0;
    border-radius: 6px;
}

.login-popup.language-popup .head h2 {
    color: #fff;
    font-size: 25px;
    margin: 0;
}

.login-popup.language-popup .inner {
    padding: 20px;
}

.login-popup.language-popup .inner .btns a {
    background: transparent;
    display: block;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
    color: #2a80c7;
    border: 1px solid #2a80c7;
    border-radius: 4px;
}

.login-popup.language-popup .btns {
    margin-bottom: 30px;
}

.login-popup.language-popup .popup .dowload-app .app-btn a img {
    max-width: 150px;
}

.login-popup.language-popup .popup .dowload-app {
    text-align: center;
}

.login-popup.language-popup .inner .btns a:hover {
    background: #2a80c7;
    color: #fff;
}

.login-popup.language-popup .popup .dowload-app .app-btn a img:hover {
    transform: scale(1.02);
}

.chat-screen {
    padding-top: 20px;
}

body.chat-screen {
    background: #f3f3f3;
}

.chat-screen .chat-list {
    width: 34%;
    border-right: 1px solid #ddd;
}

.chat-screen .chat {
    width: 66%;
    border-right: 1px solid #ddd;
}

.chat-screen .chat-list .text h3 {
    font-size: 16px;
    margin-bottom: 4px;
}

.chat-screen .chat-list .text p {
    font-size: 14px;
    color: #848484;
    line-break: anywhere;
}

.chat-screen .chat-list .text p img {
    max-width: 15px;
}

.chat-screen .chat-list .text p span {
    position: relative;
    font-size: 0;
}

.chat-screen .chat-list ul li a {
    display: flex;
}

.chat-screen .chat-list ul li p {
    margin: 0;
}

.chat-screen .chat-list ul li {
    background: #fff;
    padding: 20px 10px;
    border-bottom: 1px solid #ddd;
    transition: .3s;
}

.chat-screen .chat .top {
    display: flex;
    flex-wrap: wrap;
    padding: 0 5px;
    background: #fff;
    position: relative;
}

.chat-screen .chat .top .left {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% - 80px);
    justify-content: space-between;
    padding: 10px 10px;
    border-right: 1px solid #ddd;
    flex: 0 0 90%;
}

.chat-screen .chat .top .left .profile h4 {
    font-size: 14px;
    padding-left: 7px;
}

.chat-screen .chat .top .left .profile {
    display: flex;
    align-items: center;
}

.chat-screen .chat .top .left .product h4 {
    font-size: 16px;
}

.chat-screen .chat .top .pop-edit {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    right: 10px;
    transition: .2s;
    top: 85%;
    padding: 10px;
    background: #fff;
    z-index: 99;
    box-shadow: -2px 4px 20px #0000004a;
}

.chat-screen .chat .top .pop-edit.active {
    visibility: visible;
    opacity: 1;
}

.chat-screen .chat .batch {
    background: #545252;
    text-align: center;
    padding: 10px;
}

.chat-screen .chat .batch h5 img {
    max-width: 20px;
}

.chat-screen .chat .batch h5 {
    color: #fff;
    font-size: 16px;
    margin: 0;
}

.chat-screen .chat .top .left .product {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    max-width: 60%;
}

.chat-screen .chat .right .eye img {
    max-width: 25px;
    filter: invert(1) brightness(0.1);
    opacity: .3;
}

.chat-screen .chat .right .right-nav img {
    max-width: 4px;
}

.chat-screen .chat .right .right-nav a {
    display: block;
}

.chat-screen .chat .right .right-nav {
    padding-left: 10px;
    position: relative;
}

.chat-screen .chat .top .left .product h4 {
    max-width: 80%;
    text-align: right;
    margin: 0;
    padding-right: 10px;
    font-size: 14px;
}

.chat-screen .chat .top .left .product {
    opacity: .8;
    padding-left: 0px;
}

.chat .right {
    padding: 10px 5px;
    align-items: center;
    justify-content: center;
    width: 80px;
    padding-left: 11px;
}

.chat-screen .chat .right .eye {
    padding-right: 10px;
}

.chat-inner {
    padding: 20px 20px 0;
    position: relative;
    overflow-x: hidden;
    overflow-y: scroll;
}

.chat-inner .download-app {
    background: #fff;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 30px;
}

.chat-inner .download-app .head {
    border-bottom: 1px solid #ddd;
    margin-bottom: 20px;
}

.chat-inner .download-app .head h4 {
    font-size: 16px;
}

.chat-inner .download-app .btm app {}

.chat-inner .download-app .btm .app {
    display: flex;
}

.chat-inner .download-app .btm .app .desc .stars ul li {
    display: inline-block;
}

.chat-inner .download-app .btm .app .desc {
    padding-left: 10px;
    flex-wrap: wrap;
    padding-top: 10px;
}

.chat-inner .download-app .btm .app .desc h4 {
    font-size: 18px;
    margin-bottom: 0;
}

.chat-inner .download-app .btm .app .desc h4 .stars {
    display: block;
}

.chat-inner .download-app .btm .app .desc .stars ul {
    margin: 0;
}

.chat-inner .download-app .btm .app .desc .stars ul li i {
    font-size: 16px;
    margin-right: 5px;
    color: #ffb200;
}

.chat-inner .download-app .btm .app .desc .stars ul li.light i {
    color: #ddd;
}

.chat-inner .download-app .btm .playstore {
    display: inline-block;
}

.chat-inner .download-app .btm {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.chat-inner .download-app .btm img {
    max-width: 140px;
}

.messages .msg {
    margin-bottom: 10px;
    max-width: 90%;
}

.messages .msg .inner {
    background: #fff;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

.messages .msg .inner h4 {
    font-size: 18px;
    margin-bottom: 3px;
    line-break: anywhere;
}

.messages .msg .inner .date {
    font-size: 14px;
    color: #9e9e9e;
}

.suggestion-crsl {}

.suggestion-crsl .item .inner {
    background: #2a80c7;
    padding: 6px;
    border-radius: 50px;
}

.suggestion-crsl .item .inner h4 {
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin-bottom: 0;
}

.type-msg .input input {
    width: 100%;
    border: none;
    background: transparent;
    border-bottom: 1px solid #ddd;
    font-size: 15px;
    padding-bottom: 10px;
    outline: none;
}

.type-msg {
    margin-top: 15px;
    background: #fff;
}

.type-msg .emojy img {
    max-width: 30px;
}

.type-msg .emojy {
    border-right: 1px solid #ddd;
    padding-right: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
}

.btm-type {
    margin-top: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0 10px;
    justify-content: space-between;
}

.type-msg .input {
    padding: 10px 5px;
    padding-bottom: 0;
}

.chat .type-msg .right {
    padding: 0;
    flex: 0 0 40%;
}

.type-msg .right .input {
    display: flex;
    align-items: center;
    padding: 0;
    padding-right: 20px;
}

.chat .type-msg .right label {
    font-size: 16px;
    margin-bottom: 0;
    padding-left: 6px;
}

.type-msg .right .input input {
    width: auto;
}

.type-msg .right .submit input {
    border: 1px solid #8a8a8a;
    color: #2a80c7;
    background: transparent;
    font-size: 16px;
    padding: 2px 10px;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 5px;
}

.chat-screen .chat .bottom {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
}

.chat-inner .messages {
    min-height: 400px;
    max-height: 600px;
    overflow-y: scroll;
    padding-bottom: 150px;
    position: relative;
}

.suggestion-crsl {
    padding-left: 20px;
}

.chat-screen .chat .top .left .profile img,
.chat-screen .chat .top .left .product img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.chat-screen .chat-list .text {
    padding-left: 10px;
    width: calc(100% - 60px);
}

.chat-screen .chat-list ul li.active {
    background: #e3edf5;
}

.chat-screen .chat-list ul li:hover {
    background: #e3edf5;
}

.messages .msg.reply {
    text-align: right;
    margin-left: auto;
}

.messages .msg.reply .inner {
    background: #dcefff;
}

.chat-screen .chat .top .pop-edit ul li a {
    font-size: 14px;
}

.chat-screen .chat .top .pop-edit ul {
    margin-bottom: 0;
}

.chat-screen .chat .top .pop-edit ul li {
    margin-bottom: 5px;
}

.chat-screen .chat-list ul li .image img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
}

.chat-inner .download-app .btm .app .image img {
    width: 60px;
    border-radius: 5px;
}

.details .left {
    width: 65%;
}

.profile-grid-products.listings {
    width: 100%;
}

.top-profile .inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.top-profile .inner ul.stars li {
    display: inline-block;
}

.top-profile .inner ul.stars li i {
    color: #FFEB3B;
}

.top-profile .inner h3 {
    font-size: 20px;
}

.top-profile .inner .image {
    margin-bottom: 10px;
}

.top-profile .inner .image img {
    height: 100px;
    width: 100px;
    object-fit: cover;
}

.top-profile {
    border-top: 1px solid #ddd;
    padding-top: 30px;
}

.top-profile .inner ul.stars li.nocolor i {
    color: #efefef;
}

.sell-tab ul li {
    display: inline-block;
}

.sell-tab ul li a {
    padding: 0 30px 0;
    display: block;
    font-size: 16px;
    text-transform: uppercase;
    padding-bottom: 4px;
    color: #a5a5a5;
}

.sell-tab ul li.active a {
    border-bottom: 2px solid #2778bb;
    color: #000;
}

.profile-grid-products.listings {
    padding: 0;
    background: #f3f3f3;
    padding-top: 20px;
    padding-bottom: 20px;
}

.sell-tab ul {
    margin-bottom: 0;
}

#pop-dropdown-home {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    padding: 10px;
    background: #fff;
    z-index: 99;
    box-shadow: -2px 4px 20px #0000004a;
}

#click-profile-dropdown:hover+#pop-dropdown-home,
#pop-dropdown-home:hover {
    visibility: visible;
    opacity: 1;
}

#pop-dropdown-home.active {
    visibility: visible;
    opacity: 1;
}

#pop-dropdown-home ul li a {
    font-size: 14px;
}

#pop-dropdown-home ul {
    margin-bottom: 0;
}

#pop-dropdown-home ul li {
    margin-bottom: 5px;
}

a.google-login {
    background: #fff;
    border: 2px solid black;
}

a.twitter-login {
    background: #319BEB;
}

a.google-login:hover {
    background: #fff;
}

#loginForm .form-control,
#forgot-form .form-control,
#signup-form .form-control {
    height: calc(1.5em + .75rem + 15px);
}