@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

h2 {
  font-size: 22px;
}

a {
  text-decoration: none;
}

ul {
  padding: 0;
}

button {
  border-radius: 21px;
  border: 1px solid #989FA5;
  height: 42px;
  width: 100%;
  cursor: pointer;
}

a.close-btn {
  top: 50%;
  right: 0;
  position: absolute;
  transform: translate(0, -50%);
}

ul li a {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.padding-0 {
  padding: 0 !important;
}

input {
  border-radius: 7px;
  border: 1px solid #D2D7DA;
  height: 54px;
  width: 100%;
  padding: 21px;
}

.social-btn {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 12px;
  margin-bottom: 12px;
  border-bottom: 1px solid #DEDEDE;
  padding-bottom: 20px;
}
.social-btn button {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  padding: 10px;
}

.footer-btn select {
  border: 1px solid #d5d5d5;
  background-color: #ebebeb;
  color: #575151;
  outline: none;
  border-radius: 10px;
  font-size: 12px;
  height: 40px;
  padding: 0px 18px;
}
.footer-btn select option {
  border: none;
  background-color: #ebebeb;
  outline: none;
}

.account-popup p.mini-title {
  font-weight: 500;
  font-size: 15px;
  margin: 0 20px 15px;
  text-align: left;
}
.account-popup .account-header {
  position: relative;
  padding: 20px 0;
  border-bottom: 1px solid #DEDEDE;
  margin: 0 20px 12px;
}
.account-popup .account-header a.close-btn {
  top: 5px;
  right: 5px;
  transform: initial;
}
.account-popup .account-header h2 {
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  margin: 0;
}
.account-popup .account-header h2 a {
  position: initial;
  color: inherit;
  text-decoration: none;
}
.account-popup h2 {
  font-weight: 500;
  text-align: center;
  margin-bottom: 12px;
  padding: 0 20px;
}
.account-popup .buttons-container {
  margin: 0 20px 12px;
}
.account-popup .buttons-container a, .account-popup .buttons-container button {
  text-decoration: none;
  text-align: center;
  height: 42px;
  line-height: 42px;
  padding: 0 10px;
  position: relative;
  border-radius: 25px;
  display: block;
  color: #fff;
  margin-bottom: 12px;
  font-size: 15px;
}
.account-popup .buttons-container a:last-child, .account-popup .buttons-container button:last-child {
  margin: 0;
}
.account-popup .buttons-container a img, .account-popup .buttons-container button img {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translate(0, -50%);
}
.account-popup .buttons-container a.white-bg {
  background-color: #fff;
  color: #000;
}
.account-popup .buttons-container a.have-border {
  border: 1px solid #000;
}
.account-popup .buttons-container a.facebook-btn {
  background-color: #3B5998;
}
.account-popup .buttons-container a.facebook-btn:hover {
  background-color: #355088;
}
.account-popup .buttons-container a.twitter-btn {
  background-color: #03A9F4;
}
.account-popup .buttons-container a.twitter-btn:hover {
  background-color: #0298db;
}
.account-popup .buttons-container a.apple-btn {
  background-color: #000;
}
.account-popup .buttons-container a.apple-btn:hover {
  background-color: #191919;
}
.account-popup .buttons-container button {
  border: none;
  background-color: #EBEBEB;
}
.account-popup .buttons-container.have-border-bottom {
  padding: 0 0 20px;
  border-bottom: 1px solid #DEDEDE;
}
.account-popup .form-container {
  margin: 0 20px 8px;
}
.account-popup .form-container .buttons-container {
  margin: 0;
}
.account-popup .form-container .buttons-container button {
  font-weight: 500;
}
.account-popup .form-container .buttons-container button.dark-color {
  color: #000;
}
.account-popup .form-container .buttons-container button.dark-bg {
  background-color: #000;
}
.account-popup .form-container input {
  border-radius: 7px;
  border: 1px solid #D2D7DA;
  height: 54px;
  line-height: 54px;
  width: 100%;
  padding: 0 20px;
  color: #797979;
  outline: none;
}
.account-popup .form-container .single-field.have-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}
.account-popup .form-container .single-field.have-grid span.show-password {
  justify-self: end;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  grid-gap: 5px;
}
.account-popup .form-container .single-field {
  margin: 0 0 15px;
}
.account-popup .form-container .single-field:last-child {
  margin: 0;
}
.account-popup .form-container .single-field span, .account-popup .form-container .single-field label {
  font-weight: 500;
  font-size: 13px;
}
.account-popup .form-container .single-field label.checkbox {
  display: grid;
  grid-template-columns: 21px 1fr;
  align-items: center;
  grid-gap: 8px;
}
.account-popup .form-container .single-field label.checkbox input[type=checkbox] {
  display: none;
}
.account-popup .form-container .single-field label.checkbox:before {
  content: "";
  width: 21px;
  height: 21px;
  border: 1px solid #D2D7DA;
  border-radius: 5px;
  display: inline-block;
}

.search-result {
  grid-column: 1/3;
  display: none;
}
.search-result p {
  text-align: left;
  margin: 0 0 20px;
}
.search-result p:last-child {
  margin: 0;
}

header {
  padding: 16px 20px 13px;
  display: grid;
  grid-template-columns: 22px 110px 1fr;
  align-items: center;
  grid-gap: 8px;
}
@media (min-width: 320px) and (max-width: 380px) {
  header {
    grid-template-columns: 22px 90px 1fr;
  }
}
header h1.logo {
  width: 110px;
  height: 45px;
}
@media (min-width: 320px) and (max-width: 380px) {
  header h1.logo {
    width: 90px;
    height: 35px;
  }
}
header h1.logo a {
  width: 110px;
  height: 45px;
  background-image: url(../images/logo.svg);
  text-indent: -9000px;
  display: block;
}
@media (min-width: 320px) and (max-width: 380px) {
  header h1.logo a {
    width: 90px;
    height: 35px;
    background-size: cover;
  }
}
header .right-section {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 8px;
  width: 155px;
}
header .right-section a {
  height: 28px;
  line-height: 28px;
  padding: 0 10px;
  background-color: #EBEBEB;
  text-align: center;
  font-size: 12px;
  color: #575151;
  display: block;
  font-weight: bold;
  border-radius: 16px;
}
header .right-section span.more-btn {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #EBEBEB;
  color: #575151;
  font-weight: bold;
  text-align: center;
  line-height: 18px;
  cursor: pointer;
}

.filter-section {
  display: grid;
  grid-template-columns: 1fr 50px;
  grid-gap: 15px;
  align-items: center;
  padding: 0 20px;
  margin-bottom: 15px;
}
.filter-section .search-container {
  position: relative;
}
.filter-section .search-container img.search-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translate(0, -50%);
}
.filter-section .search-container input {
  padding: 0;
  padding-left: 38px;
  padding-right: 15px;
  border: 1px solid #D5D5D5;
  border-radius: 20px;
  background-color: #F6F6F6;
  height: 32px;
  outline: none;
}
.filter-section .filter-container span {
  color: #131111;
  font-size: 12px;
  font-weight: bold;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  cursor: pointer;
}
.filter-section .filter-container span img {
  margin-right: 6px;
}

.main-container {
  max-width: 391px;
  margin: 0 auto;
}

footer .footer-upper {
  text-align: center;
  padding: 9px 20px 21px;
  background-color: #F7F7F7;
}
footer .footer-upper .logo {
  margin: 0 0 14px;
}
footer .footer-upper ul {
  text-align: center;
  margin: 0 0 26px;
}
footer .footer-upper ul li {
  list-style: none;
  display: inline-block;
  margin-right: 18px;
}
footer .footer-upper ul li:last-child {
  margin: 0;
}
footer .footer-upper ul li a {
  overflow: hidden;
  border-radius: 2px;
  display: block;
}
footer .footer-upper ul.footer-menu {
  margin: 0;
  margin-bottom: 20px;
}
footer .footer-upper ul.footer-menu li {
  margin-right: 16px;
}
footer .footer-upper ul.footer-menu li a {
  color: #434343;
  font-size: 10px;
  font-weight: bold;
}
footer .footer-bottom {
  padding: 14px 30px 14px;
  background-color: #EAEAEA;
  text-align: center;
}
footer .footer-bottom p {
  color: #434343;
  font-size: 12px;
  margin-bottom: 20px;
}
footer .footer-bottom span {
  font-size: 10px;
}
footer .footer-bottom span a {
  color: #0872BB;
}

p {
  text-align: center;
}
p a {
  font-weight: 500;
  font-size: 15px;
  color: #000;
}

.signup-container h2 {
  margin-bottom: 18px;
}

.signup-btn {
  color: #000000;
  border: none;
  background-color: #EBEBEB;
}

.main-container .content h2 {
  margin-bottom: 16px;
}
.main-container .content p {
  color: #000000;
  margin-bottom: 14px;
}
.main-container .form .forget-btn {
  background-color: #000000;
  color: #fff;
  margin-bottom: 23px;
  border: none;
}

.slider-section {
  padding: 0 20px;
  margin-bottom: 26px;
  height: 245px;
}
.slider-section .heading {
  display: grid;
  grid-template-columns: 130px auto;
  align-items: center;
  margin-bottom: 13px;
}
.slider-section .single-item {
  width: 140px;
}
.slider-section .single-item .product-image {
  background: #F0F1F3;
  text-align: center;
  margin: 0 0 8px;
  position: relative;
}
.slider-section .single-item .product-image span.fav-btn {
  position: absolute;
  right: 6px;
  top: 6px;
  background: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
}
.slider-section .single-item .single-item-content h3 {
  font-size: 12px;
}
.slider-section .single-item .single-item-content span {
  color: #0872BB;
}

.appstore {
  padding: 0 20px;
  margin-bottom: 20px;
}
.appstore .appstore-box {
  padding: 16px 20px;
  border: 1px solid #E1E1E1;
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 30px;
  border-radius: 4px;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 360px) {
  .appstore .appstore-box {
    grid-gap: 10px;
  }
}
.appstore .appstore-box .box-content h3 {
  color: #131111;
  font-size: 14px;
}
@media (min-width: 320px) and (max-width: 360px) {
  .appstore .appstore-box .box-content h3 {
    font-size: 10px;
  }
}
.appstore .appstore-box .box-content a {
  color: #575151;
  font-size: 12px;
}
@media (min-width: 320px) and (max-width: 360px) {
  .appstore .appstore-box .box-content a {
    font-size: 11px;
  }
}

.row-content {
  margin-bottom: 20px;
}
.row-content h2 {
  color: #131111;
  font-weight: bold;
  text-align: left;
  margin-bottom: 8px;
}
.row-content .bottom-btn {
  text-align: center;
}
.row-content .bottom-btn button {
  color: #ffffff;
  background-color: #0872bb;
  width: inherit;
  padding: 6px 18px;
  font-size: 8px;
  height: 25px;
  border: none;
}
.row-content .row-section {
  position: relative;
  margin-bottom: 24px;
  padding: 0 20px;
}
.row-content .row-section .new-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 18px;
}
.row-content .row-section .new-items .new-single-items {
  overflow: hidden;
}
.row-content .row-section .new-items .new-single-items .new-item-image {
  background-color: #e5e7eb;
  padding: 6px 6px 20px 6px;
}
.row-content .row-section .new-items .new-single-items .new-item-image .text-heart {
  display: flex;
  grid-template-columns: auto auto;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.row-content .row-section .new-items .new-single-items .new-item-image .text-heart span.fav-btn {
  position: absolute;
  right: 6px;
  top: 6px;
  background: #fff;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: grid;
  align-items: center;
  justify-content: center;
}
@media (min-width: 320px) and (max-width: 360px) {
  .row-content .row-section .new-items .new-single-items .new-item-image .text-heart span.fav-btn {
    right: 1px;
    top: 3px;
  }
}
.row-content .row-section .new-items .new-single-items .new-item-image .text-heart p {
  font-size: 8px;
  color: #ffffff;
  background-color: #0872bb;
  padding: 0 20px;
  transform: rotate(-50deg);
  margin-left: -20px;
}
.row-content .row-section .new-items .new-single-items .new-item-image .laptop-pic {
  text-align: center;
  padding-top: 15px;
}
@media (min-width: 320px) and (max-width: 360px) {
  .row-content .row-section .new-items .new-single-items .new-item-image .laptop-pic img {
    width: 100%;
  }
}
.row-content .row-section .new-items .new-single-items .new-item-content {
  background-color: #f0f1f3;
  padding: 20px 10px;
}
.row-content .row-section .new-items .new-single-items .new-item-content h3 {
  color: #131111;
  font-size: 12px;
}
@media (min-width: 320px) and (max-width: 360px) {
  .row-content .row-section .new-items .new-single-items .new-item-content h3 {
    font-size: 9px;
  }
}
.row-content .row-section .new-items .new-single-items .new-item-content span {
  color: #0872bb;
  font-size: 14px;
  font-weight: bold;
}
.row-content .row-section .new-items .new-single-items .new-item-content .fs-20 {
  font-size: 20px;
}
.row-content .row-section .new-items .new-single-items .new-item-content p {
  color: #575151;
  font-size: 8px;
  text-align: left;
}
.row-content .row-section .new-item-btn {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%, 0);
}
.row-content .row-section .new-item-btn button {
  color: #ffffff;
  background: #0872bb;
  height: 30px;
  padding: 0 22px;
  width: inherit;
  box-shadow: #00000057 0pt 3pt 20pt;
  font-size: 10px;
  border: none;
}
.row-content .row-section .new-item-btn button img {
  margin-left: 10px;
}

.location-content {
  position: fixed;
  z-index: 1000;
  top: 85px;
  left: 0;
  right: 0;
  background: #fff;
  bottom: 0;
}

.account-popup {
  position: fixed;
  z-index: 1000;
  top: 85px;
  left: 0;
  right: 0;
  background: #fff;
  bottom: 0;
  padding-top: 15px;
  overflow: auto;
}

.popup-box {
  transform: translateY(0%);
  transition: all 0.5s ease;
  border-radius: 25px 25px 0 0;
  box-shadow: #00000029 0px 0px 20px;
}
.popup-box .popup-header {
  display: grid;
  grid-template-columns: auto 1fr auto;
  padding: 21px 27px 24px 21px;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 16px;
  align-items: center;
}
.popup-box .popup-header h4 {
  justify-self: center;
  font-size: 20px;
}
.popup-box .popup-header a {
  color: #0872BB;
}
.popup-box .zip {
  padding-left: 21px;
  margin-bottom: 11px;
}
.popup-box .zip span {
  color: #8D8D8D;
  font-size: 15px;
}
.popup-box .filter-section {
  display: block;
}
.popup-box .filter-section .search-container {
  position: relative;
}
.popup-box .filter-section .search-container input {
  padding-left: 21px;
}
.popup-box .filter-section .search-container .search {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translate(0, -50%);
}
.popup-box .filter-section .search-result {
  padding-top: 20px;
}
.popup-box .filter-section .search-result p {
  margin-bottom: 20px;
  font-size: 14px;
}
.popup-box .filter-section .search-result p:last-child {
  margin-bottom: 0px;
}
.popup-box .span {
  margin-bottom: 37px;
  text-align: center;
}
.popup-box .span span {
  font-size: 14px;
}
.popup-box .button {
  text-align: center;
  padding-bottom: 20px;
}
.popup-box .button button {
  width: 227px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: center;
  grid-gap: 10px;
  background-color: #0872BB;
  box-shadow: #00000057 0px 3px 20px;
  color: #ffff;
  font-size: 15px;
  height: 51px;
  border: none;
}
.popup-box .button button img {
  color: #fff;
}

.hide-popup-box {
  transform: translateY(100%);
}

.popup-postion {
  position: fixed;
  width: 100%;
  bottom: 0;
  top: 120px;
}

.main-container header .right {
  display: initial;
}
.main-container header .right span {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #EBEBEB;
  color: #575151;
  font-weight: bold;
  display: grid;
  align-items: center;
  justify-content: center;
}
.main-container .banner {
  padding: 0 20px;
}
.main-container .banner .row-home {
  display: grid;
  align-items: center;
  grid-gap: 10px;
  grid-template-columns: 17px auto;
  margin-bottom: 20px;
}
.main-container .banner .row-home h2 {
  font-size: 20px;
  font-weight: bold;
}
.main-container .banner .row-inbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
.main-container .banner .row-inbox h2 {
  font-size: 20px;
  font-weight: bold;
}
.main-container .banner .row-inbox span {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #EBEBEB;
  color: #575151;
  font-weight: bold;
  display: grid;
  align-items: center;
  justify-content: center;
}
.main-container .container {
  width: 100%;
}
.main-container .container .nav {
  margin-bottom: 20px;
}
.main-container .container .nav .active {
  border-bottom: 3px solid #0772BB;
}
.main-container .container .nav .active a {
  border: none;
}
.main-container .container .nav-tabs {
  border: none;
}
.main-container .container .b-b {
  border-bottom: 1px solid #E1E1E1;
}
.main-container .container .title {
  padding: 0 20px;
  border-bottom: 1px solid #EBEBEB;
  padding-bottom: 12px;
  margin-bottom: 12px;
}
.main-container .container .title h3 {
  display: inline-block;
  color: #8A8A8A;
  font-size: 15px;
}
.main-container .container .title .text {
  margin-right: 48px;
  color: #0872BB;
}
.main-container .container .delete-section {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #EBEBEB;
  padding: 0 20px 13px 12px;
  margin-bottom: 16px;
}
.main-container .container .delete-section input {
  width: 21px;
  height: 21px;
  margin-right: 7px;
}
.main-container .container .delete-section button {
  width: inherit;
  border: 1px solid #0772BB;
  color: #FFFFFF;
  background-color: #0772BC;
  font-size: 15px;
  padding: 0 22px;
  height: 29px;
  border-radius: 5px;
}
.main-container .container .single-item .person {
  display: grid;
  grid-template-columns: 21px auto;
  grid-gap: 7px;
  align-items: center;
  border-bottom: 1px solid #EBEBEB;
  padding: 0 20px 13px 12px;
  margin-bottom: 13px;
}
.main-container .container .single-item .person:last-child {
  border-bottom: 0px;
  padding-bottom: 0px;
}
.main-container .container .single-item .person input {
  width: 21px;
  height: 21px;
}
.main-container .container .single-item .person .content {
  display: flex;
  justify-content: space-between;
  color: #000000;
}
.main-container .container .single-item .person .content .person-info h3 {
  font-size: 17px;
  margin-top: 0px;
}
.main-container .container .single-item .person .content .person-info p {
  font-size: 15px;
  margin-bottom: 4px;
}
.main-container .container .single-item .person .content .person-info span {
  font-size: 13px;
}

.multi-range {
  width: 100%;
  height: 45px;
  position: relative;
  margin-bottom: 2em;
}

.multi-range__track {
  height: 10px;
  width: 100%;
  background: transparent;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.multi-range__track-bg {
  height: 100%;
  width: 95%;
  background: #ccc;
  position: absolute;
  top: 0;
  left: 2.5%;
}

.multi-range__fill {
  height: 100%;
  width: 100%;
  background: #2994b2;
  background: linear-gradient(to right, #2994b2 0%, #91157e 100%);
  position: absolute;
  top: 0;
  left: 0;
}

.multi-range__handle {
  height: 70%;
  width: 2%;
  background: #343434;
  position: absolute;
  top: 50%;
  cursor: grab;
  transform: translateY(-50%);
  border-radius: 4px;
}
.multi-range__handle:focus:first-child {
  border: 3px solid #2994b2;
}
.multi-range__handle:focus:first-child:last-child {
  border: 3px solid #91157e;
}

.multi-range__ticks {
  height: 100%;
  width: 95%;
  background: transparent;
  position: absolute;
  top: 0;
  left: 2.5%;
  display: flex;
  justify-content: space-between;
}

.multi-range__tick {
  width: 2px;
  height: 100%;
  background: #fff;
}

.multi-range__labels {
  font-size: 14px;
  position: absolute;
  left: 2.5%;
  min-width: 100%;
  overflow: visible;
  top: calc(100% + 0.5em);
}
.multi-range__labels > .label {
  position: absolute;
  display: none;
}

@media screen and (max-width: 709px) {
  .multi-range__labels > .label:nth-child(4n+1) {
    display: block;
  }
}
@media screen and (min-width: 710px) {
  .multi-range__labels > .label:nth-child(odd) {
    display: block;
  }
}
@media screen and (min-width: 1560px) {
  .multi-range__labels > .label {
    display: block;
  }
}
.label {
  transform: translateX(-50%);
}

.sell-item .row-content .right-section {
  padding-right: 6px;
}
.sell-item .row-content .right-section .single-item-image {
  display: grid;
  grid-template-columns: 50px 50px;
  grid-gap: 20px 10px;
  margin-bottom: 30px;
}
.sell-item .row-content .right-section .new-item-content h3 {
  font-size: 15px;
}
.sell-item .row-content .right-section .new-item-content p {
  font-size: 15px;
  color: #000000;
}
.sell-item .slider {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
}
.sell-item .slider .slider-box {
  width: 181px;
  height: 172px;
  border-radius: 17px;
  border: 2px solid #3072B5;
  box-shadow: 0px 0px 20px;
  text-align: center;
}
.sell-item .slider .slider-box span {
  color: #0872BB;
  display: block;
  padding-top: 21px;
  margin-bottom: 10px;
  font-size: 20px;
}
.sell-item .slider .slider-box span:last-child {
  margin-bottom: 0px;
}
.sell-item .slider .slider-box h5 {
  color: #0872BB;
  font-size: 41px;
}

.home-banner {
  padding: 0;
  margin: 0 20px;
}
.home-banner .banner-image {
  position: relative;
}
.home-banner .banner-image img {
  margin-bottom: 20px;
  width: 100%;
}
.home-banner .banner-image .address-btn {
  text-align: center;
  position: absolute;
  bottom: 7px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 150px;
}
.home-banner .banner-image .address-btn button {
  padding: 0 26px;
  width: inherit;
  border: none;
  background-color: #ffffff;
  box-shadow: 0 3px 6px #00000029;
  height: 30px;
}
.home-banner .banner-image .address-btn button img {
  margin-bottom: 0;
  width: initial;
  margin-right: 4px;
  border: none;
}

.menu .menu-content {
  transform: translateX(0);
  position: fixed;
  z-index: 100;
  background: #fff;
  /* width: 100%; */
  left: 0;
  right: 0;
  padding: 20px;
  top: 0;
  height: 100vh;
  overflow-y: auto;
  transition: all 0.5s ease;
}
.menu .menu-content.hide-menu {
  transform: translateX(-100%);
}
.menu h2 {
  font-size: 20px;
  font-weight: 600;
  margin: 0 0 25px;
  position: relative;
}
.menu h2 .close-btn {
  width: 20px;
  text-align: center;
}
.menu ul li {
  list-style: none;
  margin-bottom: 22px;
}
.menu ul li a {
  text-decoration: none;
  display: grid;
  grid-template-columns: 25px 1fr 20px;
  grid-gap: 20px;
  align-items: center;
}
.menu ul li a span {
  color: #4B4B4B;
  font-size: 16px;
}
.menu ul li a img {
  justify-self: center;
}
.menu ul .categories {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu ul .categories h2 {
  font-size: 20px;
}
.menu .button {
  text-align: center;
}
.menu .button button {
  border: none;
  background-color: #0872BB;
  font-size: 20px;
  color: #ffffff;
  height: 60px;
  margin-bottom: 30px;
  border-radius: 30px;
}
.menu .have-border {
  border-bottom: 1px solid #E8E4E4;
  margin-bottom: 20px;
}
.menu .app-link h2 {
  font-size: 20px;
  margin-bottom: 17px;
}

.site-notification {
  padding: 20px;
  border-bottom: 1px solid #E8E4E4;
}
.site-notification .app-install {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-gap: 20px;
  align-items: center;
}
@media (min-width: 320px) and (max-width: 360px) {
  .site-notification .app-install {
    grid-gap: 10px;
  }
}
.site-notification .app-install .close-btn {
  cursor: pointer;
}
.site-notification .app-install .bingalo {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 10px;
}
@media (min-width: 320px) and (max-width: 360px) {
  .site-notification .app-install .bingalo .star span {
    font-size: 14px;
  }
}
.site-notification .app-install .bingalo .star div {
  display: grid;
  grid-template-columns: 83px auto;
}
.site-notification .app-install .bingalo .star div ul li {
  display: inline-block;
  list-style: none;
  width: 12px;
}
.site-notification .app-install .bingalo .star div span {
  display: inline-block;
}
.site-notification .app-install .button button {
  width: 74px;
  height: 28px;
  border-radius: 4px;
  background-color: #02A2DE;
  color: #fff;
  border: none;
  font-size: 12px;
  outline: none;
}

.filter-content {
  position: fixed;
  top: 85px;
  left: 0;
  right: 0;
  z-index: 100;
  background: #fff;
  bottom: 0;
  overflow: auto;
}
.filter-content .filter-box {
  padding: 0px 20px;
}
.filter-content .filter-box .single-box {
  /*# sourceMappingURL=style.css.map */
}
.filter-content .filter-box .single-box h2 {
  font-size: 15px;
  color: #8D8D8D;
  margin-bottom: 11px;
  font-weight: normal;
}
.filter-content .filter-box .single-box .box {
  width: 100%;
  height: 59px;
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  border: 1px solid #E1E1E1;
  padding: 0 15px;
  margin-bottom: 10px;
}
.filter-content .filter-box .single-box .box p {
  color: #0872BB;
  font-size: 15px;
  font-weight: bold;
}
@media (min-width: 320px) and (max-width: 360px) {
  .filter-content .filter-box .single-box .box p {
    font-size: 12px;
  }
}
.filter-content .filter-box .single-box .box .arrow-icon {
  justify-self: end;
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-gap: 5px;
}
.filter-content .filter-box .single-box .box .arrow-icon a {
  color: #131111;
  font-size: 13px;
}
.filter-content .filter-box .single-box .prize {
  display: grid;
  grid-template-columns: auto auto;
  grid-gap: 10px;
  align-items: center;
}
.filter-content .filter-box .single-box .prize .input {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}
.filter-content .filter-box .single-box .prize .input span {
  color: #0872BB;
  font-weight: bold;
}
.filter-content .filter-box .single-box .prize .input input {
  width: 78px;
  height: 32px;
  background-color: #F6F6F6;
  border: 1px solid #D5D5D5;
  border-radius: 20px;
  outline: none;
}
@media (min-width: 320px) and (max-width: 360px) {
  .filter-content .filter-box .single-box .prize .input input {
    width: 60px;
    padding: 0 8px;
  }
}
.filter-content .filter-box .single-box #form-wrapper {
  width: 100%;
  display: -webkit-box;
  flex-direction: column;
  align-items: center;
  border: 1px solid #E1E1E1;
  padding-top: 20px;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.filter-content .filter-box .single-box .img-location {
  position: relative;
  top: 16px;
  left: 12px;
}
.filter-content .filter-box .single-box .img-car {
  position: relative;
  top: 16px;
  right: 12px;
}
.filter-content .filter-box .single-box form {
  width: 90%;
  max-width: 500px;
}
.filter-content .filter-box .single-box form #form-title {
  margin-top: 0;
  font-weight: 400;
  text-align: center;
}
.filter-content .filter-box .single-box form #debt-amount-slider {
  display: flex;
  flex-direction: row;
  align-content: stretch;
  position: relative;
  width: 100%;
  height: 50px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter-content .filter-box .single-box form #debt-amount-slider::before {
  content: " ";
  position: absolute;
  height: 2px;
  width: 100%;
  width: calc(100% * (4 / 5));
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #0872bb;
}
.filter-content .filter-box .single-box form #debt-amount-slider input, .filter-content .filter-box .single-box form #debt-amount-slider label {
  box-sizing: border-box;
  flex: 1;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.filter-content .filter-box .single-box form #debt-amount-slider label {
  display: inline-block;
  position: relative;
  width: 20%;
  height: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.filter-content .filter-box .single-box form #debt-amount-slider label::before {
  content: attr(data-debt-amount);
  position: absolute;
  left: 50%;
  transform: translate(-50%, 45px);
  font-size: 14px;
  letter-spacing: 0.4px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0.85;
  transition: all 0.15s ease-in-out;
  top: -55px;
}
.filter-content .filter-box .single-box form #debt-amount-slider label::after {
  content: " ";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border: 2px solid #0872bb;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  z-index: 1;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}
.filter-content .filter-box .single-box form #debt-amount-slider label:hover::after {
  transform: translate(-50%, -50%) scale(1.25);
}
.filter-content .filter-box .single-box form #debt-amount-slider input {
  display: none;
}
.filter-content .filter-box .single-box form #debt-amount-slider input:checked + label::before {
  font-weight: 800;
  opacity: 1;
}
.filter-content .filter-box .single-box form #debt-amount-slider input:checked + label::after {
  border-width: 4px;
  transform: translate(-50%, -50%) scale(0.75);
}
.filter-content .filter-box .single-box form #debt-amount-slider input:checked ~ #debt-amount-pos {
  opacity: 1;
}
.filter-content .filter-box .single-box form #debt-amount-slider input:checked:nth-child(1) ~ #debt-amount-pos {
  left: 10%;
}
.filter-content .filter-box .single-box form #debt-amount-slider input:checked:nth-child(3) ~ #debt-amount-pos {
  left: 30%;
}
.filter-content .filter-box .single-box form #debt-amount-slider input:checked:nth-child(5) ~ #debt-amount-pos {
  left: 50%;
}
.filter-content .filter-box .single-box form #debt-amount-slider input:checked:nth-child(7) ~ #debt-amount-pos {
  left: 70%;
}
.filter-content .filter-box .single-box form #debt-amount-slider input:checked:nth-child(9) ~ #debt-amount-pos {
  left: 90%;
}
.filter-content .filter-box .single-box form #debt-amount-slider #debt-amount-pos {
  display: block;
  position: absolute;
  top: 50%;
  width: 20px;
  height: 20px;
  background: #fff;
  border-radius: 50%;
  transition: all 0.15s ease-in-out;
  transform: translate(-50%, -50%);
  border: 0px solid #fff;
  opacity: 0;
  z-index: 2;
  box-shadow: 2px 2px 10px 2px #b3adad;
}
.filter-content .filter-box .single-box form:valid #debt-amount-slider input + label::before {
  transform: translate(-50%, 45px) scale(0.9);
  transition: all 0.15s linear;
}
.filter-content .filter-box .single-box form:valid #debt-amount-slider input:checked + label::before {
  transform: translate(-50%, 45px) scale(1.1);
  transition: all 0.15s linear;
  color: #0872bb;
}
.filter-content .filter-box .single-box form + button {
  display: block;
  position: relative;
  margin: 56px auto 0;
  padding: 10px 20px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: all 0.15s ease-in-out;
  font-family: inherit;
  font-size: 24px;
  font-weight: 600;
  background: #fff;
  border: 2px solid #000;
  border-radius: 8px;
  outline: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
}
.filter-content .filter-box .single-box form + button:hover {
  background: #000;
  color: #fff;
}
.filter-content .filter-box .single-box form + button:hover:active {
  transform: scale(0.9);
}
.filter-content .filter-box .single-box form + button:focus {
  background: #4caf50;
  border-color: #4caf50;
  color: #fff;
  pointer-events: none;
}
.filter-content .filter-box .single-box form + button:focus::before {
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
.filter-content .filter-box .single-box form + button::before {
  display: inline-block;
  width: 0;
  opacity: 0;
  content: "";
  font-family: "Font Awesome 5 Pro";
  font-weight: 900;
  margin-right: 0;
  transform: rotate(0deg);
}
.filter-content .filter-box .single-box form:invalid + button {
  pointer-events: none;
  opacity: 0.25;
}
@-webkit-keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
}
@keyframes spin {
  from {
    transform: rotate(0deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
  to {
    transform: rotate(360deg);
    width: 24px;
    opacity: 1;
    margin-right: 12px;
  }
}
.filter-content .filter-box .single-box .sort {
  height: auto;
  display: block;
  padding: 0px;
  margin-bottom: 20px;
}
.filter-content .filter-box .single-box .sort .menu {
  padding: 0px;
}
.filter-content .filter-box .single-box .sort .menu li {
  border-bottom: 1px solid #D5D5D5;
  margin-bottom: 0px;
}
.filter-content .filter-box .single-box .sort .menu li:last-child {
  border-bottom: none;
}
.filter-content .filter-box .single-box .sort .menu li a {
  display: block;
  color: #000000;
  padding: 10px 10px 15px 15px;
  font-size: 17px;
}
.filter-content .filter-box .single-box .sort .menu ul .grid {
  display: flex;
  justify-content: space-between;
}
.filter-content .filter-box .single-box .sort .menu ul .grid a {
  color: #0872BB;
}
.filter-content .filter-box .single-box .sort .menu ul .grid img {
  padding: 10px;
}
.filter-content .button button {
  width: 193px;
  height: 34px;
}

.banner-image img {
  width: 100%;
  vertical-align: bottom;
}

.type-here {
  display: grid;
  grid-template-columns: auto 1fr auto;
  background-color: #EFF6FB;
  grid-gap: 15px;
  height: 76px;
  align-items: center;
  padding: 0 20px;
}
.type-here .ic-pic {
  position: relative;
}
.type-here .ic-pic label input {
  width: 25px;
  height: 25px;
  padding: 0px;
}
.type-here .ic-pic label img {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  border-radius: 5px;
}
.type-here input {
  font-size: 17px;
  outline: none;
  border: none;
  background-color: #EFF6FB;
  padding: 10px 20px;
}
.type-here img {
  cursor: pointer;
}

.message .iphone {
  background-color: #fff;
  margin-bottom: 10px;
}
.message .iphone .iphone-image {
  width: 75px;
  height: 75px;
  border-radius: 13px;
  background-color: #F2F2F2;
}
.message .iphone .iphone-image img {
  padding: 0 13px;
}
.message .pay-seller {
  background-color: #1876D3;
  height: 46px;
  line-height: 46px;
  width: 100%;
  text-align: center;
  margin-bottom: 23px;
}
.message .pay-seller a {
  color: #fff;
  font-size: 27px;
  text-emphasis: none;
  font-weight: normal;
}
.message .message-box {
  padding: 0 10px;
}
.message .message-box .offer {
  display: grid;
  grid-template-columns: auto auto 1fr;
  grid-gap: 12px;
  align-items: center;
  margin-bottom: 10px;
}
@media (min-width: 320px) and (max-width: 360px) {
  .message .message-box .offer {
    grid-gap: 8px;
  }
}
.message .message-box .offer .recived div {
  width: 193px;
  height: 43px;
  line-height: 43px;
  background-color: #F7F7F7;
  border-radius: 28px;
}
.message .message-box .offer .recived div p {
  color: #9B9B9B;
  font-size: 14px;
}
.message .message-box .offer .recived div p span {
  color: #1876D3;
}
.message .message-box .offer span {
  color: #9B9B9B;
  font-size: 11px;
}
.message .message-box .counter-btn {
  padding: 0 75px;
  margin-bottom: 13px;
}
@media (min-width: 320px) and (max-width: 360px) {
  .message .message-box .counter-btn {
    padding: 0 60px;
  }
}
.message .message-box .counter-btn button {
  width: 70px;
  height: 24px;
  border-radius: 28px;
  border: 1px solid #1876D3;
  color: #1876D3;
  font-size: 12px;
  background-color: #ffffff;
}
.message .message-box .chat-section .chat-text {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  grid-gap: 12px;
  margin-bottom: 18px;
}
.message .message-box .chat-section .chat-text label {
  text-align: end;
  font-size: 11px;
  color: #9B9B9B;
}
.message .message-box .chat-section .chat-text label p {
  text-align: end;
  font-size: 13px;
  color: #1876D3;
}
.message .message-box .chat-section .chat-text button {
  background-color: #1876D3;
  color: #ffffff;
  height: 43px;
  width: 105px;
  border: none;
  outline: none;
}

.promoting-popup {
  border-radius: 25px 25px 0 0;
  box-shadow: #00000029 0px 0px 20px;
}
.promoting-popup .promot-work {
  display: grid;
  grid-template-columns: auto 1fr;
  padding: 24px 20px;
  align-items: center;
  grid-gap: 20px;
  border-bottom: 1px solid #E1E1E1;
}
.promoting-popup .promot-work h2 {
  font-size: 20px;
}
@media (min-width: 320px) and (max-width: 340px) {
  .promoting-popup .promot-work h2 {
    font-size: 18px;
  }
}
.promoting-popup .promot-content {
  padding: 20px 0;
}
.promoting-popup .promot-content .promot-single-item {
  display: grid;
  grid-template-columns: 78px auto;
  grid-gap: 12px;
  padding: 0 16px;
  margin-bottom: 35px;
  align-items: center;
}
.promoting-popup .promot-content .promot-single-item .promot-pic {
  text-align: end;
}
.promoting-popup .promot-content .promot-single-item .promot-text h3 {
  font-size: 15px;
}
.promoting-popup .promot-content .promot-single-item .promot-text p {
  font-size: 15px;
  text-align: left;
}
@media (min-width: 320px) and (max-width: 380px) {
  .promoting-popup .promot-content .promot-single-item .promot-text p {
    font-size: 14px;
  }
}
.promoting-popup .promot-btn {
  text-align: center;
  padding-bottom: 20px;
}
.promoting-popup .promot-btn button {
  width: 193px;
  height: 34px;
  border-radius: 17px;
  background-color: #0872BB;
  box-shadow: 0px 3px 20px #00000057;
  border: none;
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
