<?php
$this->assign('bodyClass', 'chat-screen');
?>
<style>
    .chat-screen {
        padding-top: 0 !important;
    }

    .introjs-tooltip.introjs-floating {
        opacity: 1 !important;
        display: block !important;
    }

    .chat-screen .chat .top .left .profile img,
    .chat-screen .chat .top .left .product img {
        object-fit: cover;
    }
</style>
<style type="text/css">
    @keyframes ldio-76zwhzfu51l {
        0% {
            opacity: 1
        }

        100% {
            opacity: 0
        }
    }

    .ldio-76zwhzfu51l div {
        left: 94px;
        top: 48px;
        position: absolute;
        animation: ldio-76zwhzfu51l linear 1s infinite;
        background: #848484;
        width: 12px;
        height: 24px;
        border-radius: 6px / 12px;
        transform-origin: 6px 52px;
    }

    .ldio-76zwhzfu51l div:nth-child(1) {
        transform: rotate(0deg);
        animation-delay: -0.9166666666666666s;
        background: #848484;
    }

    .ldio-76zwhzfu51l div:nth-child(2) {
        transform: rotate(30deg);
        animation-delay: -0.8333333333333334s;
        background: #848484;
    }

    .ldio-76zwhzfu51l div:nth-child(3) {
        transform: rotate(60deg);
        animation-delay: -0.75s;
        background: #848484;
    }

    .ldio-76zwhzfu51l div:nth-child(4) {
        transform: rotate(90deg);
        animation-delay: -0.6666666666666666s;
        background: #848484;
    }

    .ldio-76zwhzfu51l div:nth-child(5) {
        transform: rotate(120deg);
        animation-delay: -0.5833333333333334s;
        background: #848484;
    }

    .ldio-76zwhzfu51l div:nth-child(6) {
        transform: rotate(150deg);
        animation-delay: -0.5s;
        background: #848484;
    }

    .ldio-76zwhzfu51l div:nth-child(7) {
        transform: rotate(180deg);
        animation-delay: -0.4166666666666667s;
        background: #848484;
    }

    .ldio-76zwhzfu51l div:nth-child(8) {
        transform: rotate(210deg);
        animation-delay: -0.3333333333333333s;
        background: #848484;
    }

    .ldio-76zwhzfu51l div:nth-child(9) {
        transform: rotate(240deg);
        animation-delay: -0.25s;
        background: #848484;
    }

    .ldio-76zwhzfu51l div:nth-child(10) {
        transform: rotate(270deg);
        animation-delay: -0.16666666666666666s;
        background: #848484;
    }

    .ldio-76zwhzfu51l div:nth-child(11) {
        transform: rotate(300deg);
        animation-delay: -0.08333333333333333s;
        background: #848484;
    }

    .ldio-76zwhzfu51l div:nth-child(12) {
        transform: rotate(330deg);
        animation-delay: 0s;
        background: #848484;
    }

    .loadingio-spinner-spinner-ye3n1839uwe {
        width: 200px;
        height: 200px;
        display: inline-block;
        overflow: hidden;
        background: transparent;
    }

    .ldio-76zwhzfu51l {
        width: 100%;
        height: 100%;
        position: relative;
        transform: translateZ(0) scale(1);
        backface-visibility: hidden;
        transform-origin: 0 0;
        /* see note above */
    }

    .ldio-76zwhzfu51l div {
        box-sizing: content-box;
    }

    /* generated by https://loading.io/ */
</style>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.2.1/introjs.min.css" integrity="sha512-631ugrjzlQYCOP9P8BOLEMFspr5ooQwY3rgt8SMUa+QqtVMbY/tniEUOcABHDGjK50VExB4CNc61g5oopGqCEw==" crossorigin="anonymous" />
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/8.1.1/firebase-firestore.js"></script>
<link rel="prefetch" href="/full-emoji-list.json">
<link rel="preload" href="/full-emoji-list.json">
<script type="text/javascript" src="/fgEmojiPicker.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@fancyapps/fancybox@3.5.6/dist/jquery.fancybox.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/intro.js/3.2.1/intro.min.js" integrity="sha512-iOr/b/615LMvxO8c+OWeMYfM5+KL/1gvjRtR8XIParS70gXVARiaRJWZN435d24F+RTPs9RVI1usPtLIfgtzGw==" crossorigin="anonymous"></script>
<div style="padding-top: 20px;">
    <div class="container small" id="chatExists" style="display:none;">

        <div class="row">
            <div class="chat-list">
                <ul id="chat-list">
                </ul>
            </div>

            <div class="chat">
                <div class="top">
                    <div class="left">
                        <a class="profile" id="profile-link" target="_BLANK">
                            <img src="/images/profile.png" style="border-radius: 50%;" id="profileImage" alt="">
                            <h4 id="profileName"></h4>
                        </a>
                        <?php if (isset($data)) { ?>
                            <div class="product" style="cursor: pointer;" onclick="var windowTarget = window.open('/product/<?= $data['id'] ?>', '_blank');windowTarget.focus();">
                                <h4><?= $data['product_title'] ?></h4><img src="<?= $data['images'][0]['image_url'] ?>" alt="" style="object-fit: cover;">
                            </div>
                        <?php } ?>
                    </div>
                    <div class="right" style="padding-left: 0px;">
                        <div class="eye" id="view-tour" style="cursor: pointer;padding: 5px;text-align: center;margin-top: 2px;padding-bottom: 0;">
                            <img src="/images/icon_eye.png" alt="">
                            <span style="font-size: 10px;margin-top: 6px;display: table-caption;white-space: nowrap;font-family: avenir-regular;">Safety Tips</span>
                        </div>
                        <div class="right-nav" style="margin-top: -5px;"><a href="#"><img src="/images/icon_more.png" alt=""></a></div>
                    </div>
                    <div class="pop-edit">
                        <ul>
                            <li><a href="javascript:void(0)" onclick="deleteChat()">Delete chat</a></li>
                            <li><a href="javascript:void(0)" onclick="blockChat()">Block user</a></li>
                            <li><a href="javascript:void(0)" id="hideShowSuggetion">Hide Quick answers</a></li>
                        </ul>
                    </div>
                </div>
                <?php if (isset($data) && $data['product_is_sold'] == '1') { ?>
                    <div class="batch">
                        <h5><img src="/images/icon_warning.png" alt=""> This product is no longer available.</h5>
                    </div>
                <?php } ?>
                <div class="chat-inner" style="padding: 0;overflow:hidden">

                    <div class="download-app">
                        <div class="head">
                            <h4>Chat faster by downloading Bingalo!<span style="display: block;float: right;font-size: 20px;"><img src="/images/cross.png" onclick="$('.download-app').remove();" style="height:15px" alt=""></span></h4>
                        </div>
                        <div class="btm">
                            <div class="app">
                                <div class="image"><img src="/images/bingalo_app.png" alt=""></div>
                                <div class="desc">
                                    <h4>Bingalo</h4>
                                    <div class="stars">
                                        <ul>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li class="light"><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="playstore">
                                <a href="#"><img src="/images/google-play.png" alt=""></a>
                                <a href="#"><img src="/images/app-store.png" alt=""></a>
                            </div>
                        </div>
                    </div>

                    <div class="messages" id="messages"></div>

                    <div class="bottom" style="background: #fff;padding-top: 13px;">
                        <div id="suggetion">
                            <div class="suggestion-crsl owl-carousel owl-theme">

                                <div class="item">
                                    <div class="inner" onclick="sendMessage(null, 'Yes, it\'s still for sale')">
                                        <h4>Yes, it's still for sale</h4>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="inner" onclick="sendMessage(null, 'What\'s your offer')">
                                        <h4>What's your offer</h4>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="inner" onclick="sendMessage(null, 'Yes, it\'s Negotiable')">
                                        <h4>Yes, it's Negotiable</h4>
                                    </div>
                                </div>
                                <div class="item">
                                    <div class="inner" onclick="sendMessage(null, 'Yes, it\'s not Negotiable')">
                                        <h4>Yes, it's not Negotiable</h4>
                                    </div>
                                </div>

                                <div class="item">
                                    <div class="inner" onclick="sendMessage(null, 'I\'m not selling')">
                                        <h4>I'm not selling</h4>
                                    </div>
                                </div>

                            </div>
                        </div>

                        <div class="type-msg">
                            <div class="input"><input type="text" name="" id="messaeText" placeholder="Type your message here"></div>
                            <div class="btm-type">
                                <div style="display:flex">
                                    <div class="emojy" style="padding-left:20px">
                                        <a href="javascript:void(0)" id="emojView"><img src="/images/icon_smile.png" alt=""></a>
                                    </div>
                                    <div class="emojy" style="padding-left:20px">
                                        <div style="display:none">
                                            <input type="file" id="fileUpload" accept="image/*">
                                        </div>
                                        <label for="fileUpload" style="cursor:pointer"><img src="/images/selectPhoto.png" alt=""></label>
                                    </div>
                                    <div class="emojy" style="padding-left:20px">
                                        <a href="javascript:void(0)" style="cursor:pointer" id="sendCurrentLocation"><img src="/images/selectLocation.png" alt=""></a>
                                    </div>
                                </div>
                                <div class="right">
                                    <div class="input">
                                        <input type="checkbox" name="send" id="send">
                                        <label for="send">Press enter to send</label>
                                    </div>

                                    <div class="submit"><input type="button" onclick="sendMessage()" value="Send"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="pre-loader" style="height: 400px;width: 100%;text-align:center">
        <div class="loadingio-spinner-spinner-ye3n1839uwe">
            <div class="ldio-76zwhzfu51l">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
        </div>
    </div>
    <div id="chatNotExists" style="background-image: url(/images/emptyConversation.png);height: 400px;background-repeat: no-repeat;width: 100%;background-position: center;display:none;"></div>
</div>
<script>
    <?php if (isset($data)) {
        echo 'var activeUserProduct = ' . $data['uploaded_by_user_id']['id'] . ';';
    } else { ?>
        activeUserProduct = '';
    <?php } ?>

    var activeId = false;
    var unsubscribe;
    firebase.initializeApp(FIREBASE_SETUP);
    var db = firebase.firestore();
    var UsersRef = db.collection("Users");
    var ConversationsRef = db.collection("Conversations");
    var BlockedUsersRef = db.collection("BlockedUsers");
    ConversationsRef.where('userIDs', 'array-contains', '<?= $authUser['id'] ?>')
        .onSnapshot(function(querySnapshot) {
            var data = [];
            $('#chat-list').html('');
            querySnapshot.forEach(function(doc) {
                data.push([doc.id, doc.data()]);
            });
            if (data.length === 0) {
                $('#chatExists').hide();
                $('#chatNotExists').show();
            }
            data.sort(function(a, b) {
                return b[1].timestamp - a[1].timestamp;
            });
            $.each(data, function(k, v) {
                addUser(v[0], v[1]);
            });
            setTimeout(function() {
                $('#pre-loader').hide();
            }, 300);
        });

    function addUser(docId, data) {
        var anotherUserId = docId;
        var date = getDateTime(data.timestamp);
        anotherUserId = anotherUserId.replace('<?= $authUser['id'] ?>', '').replace('-', '');
        BlockedUsersRef.where('userIDs', 'array-contains', anotherUserId).get()
            .then(function(querySnapshot) {
                if (querySnapshot.size === 0) {
                    UsersRef.where('id', '==', anotherUserId).get()
                        .then(function(querySnapshot) {
                            querySnapshot.forEach(function(doc) {
                                $('#chatNotExists').hide();
                                $('#chatExists').show();
                                var userData = doc.data();
                                var profilePic = userData.profilePicLink;
                                if (profilePic.length === 0) {
                                    profilePic = '/images/profile.png';
                                }
                                if (!activeId) {
                                    activeId = docId;
                                }
                                if ($('#userId' + docId).hasClass('active')) {
                                    $('#chat-list').append(appendChat(userData.name, userData.id, profilePic, date, data.lastMessage, docId, false));
                                } else {
                                    $('#chat-list').append(appendChat(userData.name, userData.id, profilePic, date, data.lastMessage, docId));
                                }
                            })
                        })
                        .catch(function(error) {
                            console.log("Error getting documents: ", error);
                        });
                }
            });
    }

    function appendChat(name, id, pic, date, chat, userId, append = true) {
        var activeTage = '';
        if (activeId == userId) {
            activeTage = 'class="active"';
            if (append && $('#messages').html() === '') {
                $('#profileImage').attr('src', pic);
                $('#profile-link').attr('href', '/profile/' + id);
                $('#profileName').html(name);
                loadMessages(userId);
            }
        }
        return `<li ${activeTage} id="userId${userId}">
                        <a href="#" onclick="loadMessages('${userId}',this)">
                            <div class="image"><img src="${pic}" alt=""></div>
                            <div class="text">
                                <h3>${name}</h3>
                                <p>${chat}</p>
                                <p class="date">${date}</p>
                            </div>
                        </a>
                    </li>`;
    }

    function loadMessages(id, ev = null) {
        if (ev !== null) {
            $('#chat-list li').removeClass('active');
            $(ev).parent('li').addClass('active');
            activeId = id;
            $('#profileImage').attr('src', $(ev).find('img').attr('src'));
            $('#profileName').html($(ev).find('h3').text());
        }
        var user_id_profile = id.replace('-', '').replace('<?= $authUser['id'] ?>', '');
        $('#profile-link').attr('href', '/profile/' + user_id_profile);
        $('#messages').html('');
        if ((id == activeUserProduct + '-<?= $authUser['id'] ?>') || (id == '<?= $authUser['id'] ?>-' + activeUserProduct)) {
            $('.batch,.product').show();
        } else {
            $('.batch,.product').hide();
        }
        if (unsubscribe) {
            unsubscribe();
        }
        ConversationsRef.doc(id).set({
            isRead: {
                <?= $authUser['id'] ?>: true,
            }
        }, {
            merge: true
        });
        unsubscribe = ConversationsRef.doc(id).collection("Messages").orderBy("timestamp")
            .onSnapshot(function(snapshot) {
                snapshot.docChanges().forEach(function(change) {
                    if (change.type === "added") {
                        var data = change.doc.data();
                        var date = getDateTime(data.timestamp)
                        var reply = '';
                        if (data.ownerID == <?= $authUser['id'] ?>) {
                            reply = 'reply';
                        }
                        switch (data.contentType) {
                            case 1:
                                var msg = `<a href="${data.profilePicLink}" data-fancybox="images"><img src="${data.profilePicLink}" style="max-height:400px;border-radius: 5px;"></a>`;
                                $('#messages').append(appendMessage(msg, date, reply));
                                break;
                            case 2:
                                var latlng = data.content.replace(':', ',');
                                var msg = `<a data-fancybox="" data-options="{'iframe' : {'css' : {'width' : '100%', 'height' : '100%'}}}" href="https://www.google.com/maps/search/?api=1&query=${latlng}"><img src="/images/location.png" style="height:200px;width:300px;border: 2px solid #fff;border-radius: 20px;"></a>`;
                                $('#messages').append(appendMessage(msg, date, reply, ''));
                                break;
                            default:
                                $('#messages').append(appendMessage(data.message, date, reply));
                        }
                    }
                });
                $('#messages').scrollTop($('#messages')[0].scrollHeight);
            });
    }

    function appendMessage(messae, time, reply = '', inner = 'inner') {
        return `<div class="msg ${reply}">
                            <div class="${inner}">
                                <h4>${messae}</h4>
                                <div class="date">${time}</div>
                            </div>
                        </div>`;
    }

    function formatAMPM(date) {
        var hours = date.getHours();
        var minutes = date.getMinutes();
        var ampm = hours >= 12 ? 'pm' : 'am';
        hours = hours % 12;
        hours = hours ? hours : 12; // the hour '0' should be '12'
        minutes = minutes < 10 ? '0' + minutes : minutes;
        var strTime = hours + ':' + minutes + ' ' + ampm;
        return strTime;
    }

    function getDateTime(timestamp) {
        var d = new Date(timestamp * 1000);
        return d.getDate() + '/' + (d.getMonth() + 1) + '/' + d.getFullYear() + ' ' + formatAMPM(d);
    }

    function sendMessage(event = null, message = null, contentType = 0) {
        if (event !== null) {
            if (event.keyCode !== 13) {
                return;
            }
        }
        if (message == null) {
            var message = $('#messaeText').val();
        }
        if (message.length < 1) {
            return;
        }
        $('#messaeText').val('');
        uuid = create_UUID();
        switch (contentType) {
            case 1:
                ConversationsRef.doc(activeId).collection("Messages").doc(uuid).set({
                    profilePicLink: message,
                    ownerID: "<?= $authUser['id'] ?>",
                    id: uuid,
                    contentType: 1,
                    timestamp: (Math.floor(Date.now() / 1000))
                });
                message = 'Attachment';
                break;
            case 2:
                ConversationsRef.doc(activeId).collection("Messages").doc(uuid).set({
                    content: message,
                    ownerID: "<?= $authUser['id'] ?>",
                    id: uuid,
                    contentType: 2,
                    timestamp: (Math.floor(Date.now() / 1000))
                });
                message = 'Attachment';
                break;
            default:
                ConversationsRef.doc(activeId).collection("Messages").doc(uuid).set({
                    message: message,
                    ownerID: "<?= $authUser['id'] ?>",
                    id: uuid,
                    contentType: 0,
                    timestamp: (Math.floor(Date.now() / 1000))
                });
        }
        anotherUserId = activeId;
        anotherUserId = anotherUserId.replace('<?= $authUser['id'] ?>', '').replace('-', '');
        var data = {
            lastMessage: message,
            isRead: {},
            timestamp: (Math.floor(Date.now() / 1000))
        };
        data['isRead'][anotherUserId] = false
        ConversationsRef.doc(activeId).set(data, {
            merge: true
        });
    }

    function create_UUID() {
        var dt = new Date().getTime();
        var uuid = 'xxxxxxxx-xxxx-4xxx-yxxx-xxxxxxxxxxxx'.replace(/[xy]/g, function(c) {
            var r = (dt + Math.random() * 16) % 16 | 0;
            dt = Math.floor(dt / 16);
            return (c == 'x' ? r : (r & 0x3 | 0x8)).toString(16);
        });
        return uuid;
    }

    function deleteChat() {
        ConversationsRef.doc(activeId).delete().then(function() {
            window.location.reload();
        }).catch(function(error) {
            console.error("Error removing document: ", error);
        });
    }

    function blockChat() {
        var anotherUserId = activeId;
        anotherUserId = anotherUserId.replace('<?= $authUser['id'] ?>', '').replace('-', '');
        var data = {
            'blockedBy': '<?= $authUser['id'] ?>',
            'userIDs': []
        };
        data['userIDs'].push('<?= $authUser['id'] ?>');
        data['userIDs'].push(anotherUserId);
        BlockedUsersRef.doc(activeId).set(data).then(function() {
            window.location.reload();
        }).catch(function(error) {
            console.error("Error removing document: ", error);
        });
    }

    $('#send').on('click', function() {
        if ($(this).is(":checked")) {
            document.getElementById("messaeText").addEventListener("keyup", sendMessage);
        } else {
            document.getElementById("messaeText").removeEventListener("keyup", sendMessage);
        }
    });
    $('#fileUpload').on('change', function() {
        if ($(this)[0].files.length > 0) {
            var formData = new FormData();
            formData.append('image', $(this)[0].files[0]);

            $.ajax({
                url: 'https://ijyaweb.com/bingalo_api/api/UploadRandomImage',
                type: 'POST',
                data: formData,
                processData: false, // tell jQuery not to process the data
                contentType: false, // tell jQuery not to set contentType
                success: function(data) {
                    sendMessage(null, data.data, 1);
                }
            });
        }
    });

    $('#sendCurrentLocation').on('click', function() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(function(position) {
                sendMessage(null, position.coords.latitude + ':' + position.coords.longitude, 2);
            }, function() {
                alert("Please allow location to send your current location.");
            });
        } else {
            sendMessage(null, LOCAL_INFORMATION.latitude + ':' + LOCAL_INFORMATION.longitude, 2);
        }
    })
</script>
<script>
    new FgEmojiPicker({
        trigger: ['#emojView'],
        position: ['top', 'left'],
        dir: [BASE_URL],
        emit(obj, triggerElement) {
            const emoji = obj.emoji;
            document.querySelector('#messaeText').value += emoji;
        }
    });
</script>
<script>
    jQuery(".owl-carousel").owlCarousel({
        autoplay: false,
        lazyLoad: true,
        loop: false,
        margin: 20,
        dots: false,
        responsiveClass: true,
        autoHeight: true,
        autoplayTimeout: 7000,
        smartSpeed: 800,
        nav: false,
        responsive: {
            0: {
                items: 1
            },

            600: {
                items: 2
            },

            1024: {
                items: 3
            },

            1366: {
                items: 3
            }
        }
    });
</script>
<script>
    $(document).ready(function() {
        $('#hideShowSuggetion').on('click', function(ev) {
            ev.preventDefault();
            var checkStatus = $(this).html();
            if (checkStatus === 'Show Quick answers') {
                $('#suggetion').show();
                $(this).html('Hide Quick answers');
            } else {
                $('#suggetion').hide();
                $(this).html('Show Quick answers');
            }
            $('.pop-edit').removeClass('active');
        });
    });
</script>
<script>
    $(document).ready(function() {
        $('#view-tour').on('click', function(ev) {
            ev.preventDefault();
            introJs().setOptions({
                steps: [{
                        title: '<div style="color: #1976d3;"><img src="/images/icon_eye.png" alt="" style="height: 20px;">&nbsp;&nbsp;CHAT TIPS</div>',
                        intro: 'Ask lost of questions to learn more about  the item'
                    },
                    {
                        title: '<div style="color: #1976d3;"><img src="/images/icon_eye.png" alt="" style="height: 20px;">&nbsp;&nbsp;CHAT TIPS</div>',
                        intro: 'Stay Safe: Never Share Personal Information'
                    },
                    {
                        title: '<div style="color: #1976d3;"><img src="/images/icon_eye.png" alt="" style="height: 20px;">&nbsp;&nbsp;CHAT TIPS</div>',
                        intro: 'Always Meet In Public Well-Known Places.'
                    }
                ]
            }).start();
        })
    });
</script>